.total_assist {
    font-size: 8em;
    text-align: center;
    width: 30vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding-bottom: 20px;
    justify-content: center;
    width: 49%;
    height: 50%;
    box-sizing: border-box;
}

.preview_card {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.card_chart {
    justify-content: center;
}

.card_container {
    padding: 20px 20px 0px 10px; /* Combine padding shorthand */
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sub_card_container {
    padding: 20px 20px 0px 0; /* Combine padding shorthand */
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.div {
    padding: 20px;
    padding-right: 10px;
    width: 50%;
}

.overview {
    padding-right: 20px;
    width: 100%;
    height: 30%;
}

.select_header {
    height: 30px !important; /* Set the desired height */
    font-size: 1rem !important; /* Adjust font size if needed */
    padding: 0 !important; /* Remove any default padding that might affect height */
}

.header_right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.card_header {
    display: flex;
    height: 35px;
}

.chart_card_header {
    display: flex;
    height: 4vh;
    gap: 3px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card_body {
    width: 100%;
    height: 100%;
    display: flex;
}