.card {
  padding-bottom: 20px;
  justify-content: center;
  width: 49%;
  height: 50%;
  box-sizing: border-box;
}

.card_chart {
  justify-content: center;
}

.card_container {
  padding: 10px 10px 0 10px;
  height: 100%;
  width: 50%;
}

.sub_card_container {
  padding: 10px 10px 0 0;
  height: 85%;
  width: 100%;
}

.div {
  padding: 30px 30px 30px 5px;
  width: 50%;
}

.overview {
  padding: 0 10px 0 0;
  height: 15%;
  width: 100%;
}

.width_50 {
  width: 100%;
}

.header_right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
