.first_div {
    width: 50%;
    padding-top: 20px;
    height: 100vh;
}

.second_div{
    padding: 20px 20px 0 20px ;
    width: 50%;
    height: 100%;
    position: relative;
}

.preview_div {
    padding-top: 10px;
    height: 90vh;
}

.filter_div {
    display: flex;
    align-items: center;
    height: 10vh;
    width: 100%;
}