.card_container {
  flex: 1 1 200px;
  height: 100%;
}

.card_header{
  height: 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.text_md {
  font-size: 1rem;
}

.text_black {
  color: black;
}

.flex_full {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.total_assist {
  text-align: center;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top_card_label {
  font-size: 4em;
}

.top_card {
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.top_div_division {
  width: 20%;
  height: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  display: flex;
  justify-content: center;
}

.top_div_division2 {
  width: 20%;
  height: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent content from wrapping */
  display: flex;
  justify-content: center;
}

.chart_inner {
  flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
  min-width: 120%; /* Increase min-width to ensure it extends beyond the parent */
  padding: 0 20px 0 60px; /* Optional: add padding around the chart for spacing */
}

.header_width {
  display: flex;
  justify-content: center;
}

.width {
  width: 50%;
  height: 100%;
}

.div{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.top_div {
  padding: 20px;
  justify-content: center;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
}

.bottom_div {
  display: flex;
  gap: 20px;
  padding: 0 20px;
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .bottom_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  .width {
    width: 100%;
    height: 350px;
  }

  .top_div {
    flex-direction: column;
    height: auto;
  }
}
