/* Import Tailwind's base styles, which include things like resets and base typography styles */
@tailwind base;
/* Import Tailwind's component styles, which include styles for buttons, forms, etc. */
@tailwind components;
/* Import Tailwind's utility styles, which provide utility classes for things like margin, padding, text color, etc. */
@tailwind utilities;

/* Define CSS custom properties (variables) in the :root pseudo-class */
/* These variables can be used throughout the CSS file and will apply globally */
:root {
  /* Set a variable for the text color in RGB format (black by default) */
  --foreground-rgb: 0, 0, 0; /* RGB for black */
}

/* Media query to detect if the user's system is set to dark mode */
/* Adjust the variables when dark mode is active */
@media (prefers-color-scheme: dark) {
  :root {
    /* Change the text color to white for better readability in dark mode */
    --foreground-rgb: 255, 255, 255; /* RGB for white */
  }
}

/* Apply styles to the body element, which affects the entire page */
body {
  /* Set the text color using the custom variable defined above */
  color: black; /* Use the --foreground-rgb variable */
  overflow-x: hidden;
  font-size: 2vh;
}

.layout {
  width: 100%;
  min-height: 100vh;
  max-height: fit-content;
}

.layout_embedded{
  width: 100%;
  height: 85vh;
}

@media screen and (max-width: 1023px){
  .layout {
    height: auto;
  }
}
