.container {
    height: 85vh;
    padding: 5vw;
}

.shadow {

}

.button {
    background-color: #e3e3e3;
    border-radius: 8px;
    width: 250px;
    height: 60px;
}

.text {
    font-size: 1vw;
    text-align: center;
}

.spacing {
    margin: .3vw;
    padding: .2vw;
}

.title {
    font-size: 3vw;
    font-weight: 800;
}

.landing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin: 3vw;
}